html {
    --indentation: 3rem;
    --color-nada: rgb(200, 200, 200);
    --color-divider: rgb(200, 200, 200);
    --color-lighter: rgb(160, 160, 160);
    --color-boolean-border: rgb(230, 230, 230);

    width: max-content;
}

@media screen and (max-width: 600px) {
    html {
        --indentation: 1.5rem;
    }
}

.object-viewer {
    white-space: nowrap;

    font-family: Menlo, "Courier New", monospace;

    .row-item-wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 0.5rem;

        padding-block: 0.3rem;

        &.active-goto-line {
            &:nth-child(odd) {
                background-color: rgb(255, 245, 255);
            }

            &:nth-child(even) {
                background-color: rgb(255, 250, 255);
            }
        }

        &:hover,
        &.active-goto-line:hover {
            background-color: rgb(255, 255, 200);
        }

        &.recursive-structure {
            cursor: pointer;

            &.object-header .object-property-name {
                color: blue;
            }

            &.array-header .object-property-name {
                color: mediumseagreen;
            }

            &.empty {
                cursor: not-allowed;
            }

            &:hover {
                &.object-header {
                    background-color: rgb(235, 235, 255);
                }

                &.array-header {
                    background-color: rgb(235, 255, 235);
                }
            }
        }

        .row-number {
            font-size: 0.85rem;
            color: var(--color-lighter);
            min-width: 2rem;
            text-align: end;

            :hover > &,
            .active-goto-line > & {
                font-weight: bold;
                color: black;
            }
        }

        .recursive-toggle-icon {
            font-weight: bold;
            min-width: 0.7rem;
            color: var(--color-lighter);
        }

        .object-property-type {
            min-width: 6rem;
            font-size: 0.8rem;
            color: darkcyan;

            &.original-and-enhanced-differ {
                cursor: help;
            }
        }

        .object-property-name {
            min-width: 12rem;
            color: purple;

            & .array-index {
                /* font-size: 0.85rem; */
                color: var(--color-divider);
            }

            /* :not(.leaf) > & { */
            font-weight: bold;
            /* } */

            & :is(.extra-spaces) {
                color: red;
                font-weight: bold;
                cursor: help;
            }
        }

        .color-indicator-wrapper {
            margin-inline-end: 0.5rem;
        }

        .object-property-value {
            min-width: 20rem;
            max-width: 40rem;
            color: black;

            &:before {
                content: "= ";
                color: var(--color-divider);
            }

            & .string {
                white-space: pre-wrap;
                overflow-wrap: break-word;
            }

            & .boolean {
                font-size: 1.5rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                width: 1rem;
                height: 1rem;

                border: 1px solid var(--color-boolean-border);
                border-radius: 4px;

                &.true {
                    color: darkseagreen;
                }

                &.false {
                    color: var(--color-nada);
                }
            }

            & .integer {
                color: limegreen;
            }

            & .floating-point-number {
                color: blueviolet;
            }

            & .timestamp {
                /* color: darkmagenta; */
                display: inline-flex;
                flex-direction: row;
                gap: 0.2rem;
                align-items: baseline;

                & span:nth-child(2n) {
                    color: var(--color-divider);
                    font-size: 0.75rem;
                }
            }

            & :is(.timestamp, .local-date, .local-time, .time-zone) {
                color: brown;
            }

            & :is(.enhanced-from-string) {
                color: green;
                white-space: pre-wrap;
                overflow-wrap: break-word;
            }

            & :is(.extra-spaces, .strange-time-zone) {
                color: red;
                font-weight: bold;
                cursor: help;
            }

            & .nada-value {
                color: var(--color-nada);
            }
        }

        .convenient-identifier {
            min-width: 6rem;
            font-size: 0.9rem;
            color: skyblue;
        }

        .object-property-meta-data {
            color: forestgreen;
            font-style: italic;
            font-size: 0.9rem;
            white-space: pre-wrap;

            /*&.suspicious {*/
            /*    color: red;*/
            /*    font-weight: bold;*/

            /*    &:after {*/
            /*        content: " ! Suspicious content";*/
            /*    }*/
            /*}*/

            /*&.extra-spaces {*/
            /*    color: red;*/
            /*    font-weight: bold;*/

            /*    &:after {*/
            /*        content: " ! Extra spaces";*/
            /*    }*/
            /*}*/
        }

        .indentation-level-0 {
            margin-inline-start: calc(0 * var(--indentation));
        }

        .indentation-level-1 {
            margin-inline-start: calc(1 * var(--indentation));
        }

        .indentation-level-2 {
            margin-inline-start: calc(2 * var(--indentation));
        }

        .indentation-level-3 {
            margin-inline-start: calc(3 * var(--indentation));
        }

        .indentation-level-4 {
            margin-inline-start: calc(4 * var(--indentation));
        }

        .indentation-level-5 {
            margin-inline-start: calc(5 * var(--indentation));
        }

        .indentation-level-6 {
            margin-inline-start: calc(6 * var(--indentation));
        }

        .indentation-level-7 {
            margin-inline-start: calc(7 * var(--indentation));
        }

        .indentation-level-8 {
            margin-inline-start: calc(8 * var(--indentation));
        }

        .indentation-level-9 {
            margin-inline-start: calc(9 * var(--indentation));
        }

        .indentation-level-10 {
            margin-inline-start: calc(10 * var(--indentation));
        }

        .indentation-level-11 {
            margin-inline-start: calc(11 * var(--indentation));
        }

        .indentation-level-12 {
            margin-inline-start: calc(12 * var(--indentation));
        }

        .indentation-level-13 {
            margin-inline-start: calc(13 * var(--indentation));
        }

        .indentation-level-14 {
            margin-inline-start: calc(14 * var(--indentation));
        }

        .indentation-level-15 {
            margin-inline-start: calc(15 * var(--indentation));
        }

        .indentation-level-16 {
            margin-inline-start: calc(16 * var(--indentation));
        }

        .indentation-level-17 {
            margin-inline-start: calc(17 * var(--indentation));
        }
    }

    .hidden {
        display: none;
    }
}

aside#toolbar {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    max-height: 90vh;
    overflow-y: auto;
    background-color: rgb(240, 240, 255);
    padding: 0.1rem;
    border: 1px solid green;
    border-radius: 0.5rem;

    & form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        /* align-items: flex-end; */
    }

    details {
        padding: 0.5rem;
        border: 1px solid transparent;
        border-radius: 0.5rem;

        &[open]:not(.menu-wrapper) {
            border: 1px solid rgb(150, 150, 150);
        }

        summary {
            text-align: right;
            text-transform: uppercase;

            list-style: none;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: "+";
                font-weight: bold;
                font-size: 1.1rem;
                font-family: Menlo, "Courier New", monospace;
                margin-inline-start: 5px;
            }

            [open] > &::after {
                content: "−";
            }
        }

        & details[open] {
            background-color: rgb(255, 255, 240);
        }
    }

    #filters,
    #goto-line {
        details {
            /* display: flex;
            flex-direction: column;
            gap: 1rem; */

            &.filters-active {
                background-color: greenyellow;
            }

            div {
                display: flex;
                flex-direction: column;
                /* align-items: flex-start; */
                /* align-items: unset; */
                gap: 0.2rem;

                & > label {
                    margin-block-start: 0.8rem;
                }
            }
        }
    }

    #statistics {
        details {
            div {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 0.5rem;

                & .label {
                    color: var(--color-lighter);
                    min-width: 4rem;
                }

                & .number {
                    font-family: Menlo, "Courier New", monospace;
                    min-width: 2rem;
                    text-align: end;
                }
            }
        }
    }

    #history {
        details {
            div {
                display: flex;
                flex-direction: column;
                gap: 0.15rem;
            }

            div.history-item-row {
                font-family: Menlo, "Courier New", monospace;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: baseline;
                gap: 1rem;

                &:hover {
                    background-color: aquamarine;
                }

                .index {
                    font-size: 0.85rem;
                    color: var(--color-lighter);
                }

                .id {
                    font-weight: bold;
                }
            }
        }
    }
}

form {
    .button-row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
