html {
    font-family: Arial, sans-serif;
    line-height: 1.4rem;
    font-size: 14px;
}

body {
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 3rem 1rem;

    small {
        color: rgb(200, 200, 200);
    }
}

details {
    summary {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: inline-block;
        }
    }
}

main {
    & > details {
        summary {
            position: sticky;
            top: -2rem;
            background-color: white;
        }
    }

    &#about-page {
        max-width: 1000px;
    }
}

footer {
    margin-block-start: 5rem;
    border-block-start: 1px solid rgb(180, 180, 180);
    font-size: 0.9rem;
    color: rgb(180, 180, 180);

    & #floating-logo {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
    }
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-block: 1rem;

    font-size: 1.2rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: dodgerblue;

    &.active {
        color: forestgreen;
    }

    &:hover {
        color: darkblue;
    }
}

ul {
    li {
        margin-block: 1rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .json-object {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

textarea {
    width: 100%;
}

time {
    display: inline-flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: baseline;
    font-family: Menlo, "Courier New", monospace;

    & span:nth-child(2n) {
        color: var(--color-divider);
        font-size: 0.75rem;
    }
}

.color-indicator-wrapper {
    --border-radius: 8px;

    span {
        display: inline-block;
        min-width: 1.6rem;
        height: 0.9lh;
        border: 1px solid var(--color-lighter);
    }

    .color-indicator-left {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);

        .color-indicator-wrapper:not(:has(.color-indicator-right)) & {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }

    .color-indicator-right {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        border-left: unset;
    }
}

.on-off-toggle {
    --border-radius: 16px;
    cursor: pointer;

    display: inline-block;
    min-width: 2rem;
    height: 0.6lh;
    border: 1px solid var(--color-lighter);

    color: red;
    background-color: rgb(230, 230, 230);

    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    position: relative;
    left: -5px;
    top: 4px;

    & .toggle-position {
        display: inline-block;
        min-width: 1.2rem;
        height: 0.6lh;
        border: 1px solid var(--color-lighter);

        position: relative;
        top: -1px;

        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &.on .toggle-position {
        background-color: rgb(50, 200, 50);
        left: +6px;
    }

    &.off .toggle-position {
        background-color: white;
        left: -5px;
    }
}

.parsing-error {
    color: red;
}

.anchored-info-box {
    & .info-box-anchor {
        anchor-name: --info-box-anchor-fallback;
        cursor: help;
    }

    & .info-box {
        display: none;
        position-anchor: --info-box-anchor-fallback;
        position: fixed;
        position-area: start span-end;
        margin-block-end: 5px;

        color: black;
        font-weight: normal;
        white-space: pre-wrap;
        /* overflow-wrap: break-word; */

        border: 1px solid gray;
        border-radius: 8px;
        padding: 0.5rem;

        max-width: 40rem;
        z-index: 1;

        &.type-info {
            background-color: rgb(230, 255, 230);
        }

        &.type-warning {
            background-color: rgb(255, 245, 230);
        }

        &.type-error {
            background-color: rgb(255, 230, 230);
        }

        & .info-box-tag {
            text-align: end;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: var(--color-lighter);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;
        }
    }

    .info-box-anchor:hover + .info-box {
        /* display: unset; */
        display: flex;
        flex-direction: column;
    }
}

select {
    &#filterOnPropertyTypeEnhanced {
        & option {
            font-family: Menlo, "Courier New", monospace;
            white-space: pre-line;
        }
    }
}
